@charset "shift-jis";

/*----------------------------------------------------

gmenu

----------------------------------------------------*/

#headerwrap{
margin:0 auto;
width:100%;
height:103px;
background:#fff url("../img/header/gmenu_line.jpg?111215") repeat-x 0 100%;
text-align:center;
}

* html #headerwrap{
position:relative;
/*'Sound:MUSIC&SFX---------------------------------------------------------
'1108xx qzc kawashima Add.'Sound : 1015*/
/*z-index:1;*/
z-index:9999;
/*'---------------------------------------------------------Sound:MUSIC&SFX*/
}

*:first-child+html #headerwrap{
position:relative;
/*'Sound:MUSIC&SFX---------------------------------------------------------
'1108xx qzc kawashima Add.'Sound : 1015*/
/*z-index:1;*/
z-index:9999;
/*'---------------------------------------------------------Sound:MUSIC&SFX*/
}

#headerwrap a img{
border:none;
}

.searchresult{
margin:0 auto 0 0 !important;
text-align:left !important;
}

.searchresult ul#comnavi-lists{
/*
'ThreeDimension:3D---------------------------------------------------------
'110531 qzc kawashima .
margin-left:208px;
*/
/*'---------------------------------------------------------ThreeDimension:3D*/
}

.cartflow ul#comnavi-lists{
margin-left:0 !important;
}

.cartflow #header-banner2 ul{
margin-left:0;
}

.cartflow #header-banner2 ul li{
list-style:none;
}

#headerwrap.searchresult #com-navi{
/*
'ThreeDimension:3D---------------------------------------------------------
'1103xx qzc kawashima Add.
width:907px;
*/
width:880px;
margin:0;
/*padding-left:27px;*/
margin-left:27px;
height:43px;
/*'---------------------------------------------------------ThreeDimension:3D*/
}

#headerwrap.searchresult #com-navi h1{
/*left:27px;*/
}

.cartflow{
/*
'ThreeDimension:3D---------------------------------------------------------
'1103xx qzc kawashima Add.
height:48px !important;
*/
height:95px !important;
/*'---------------------------------------------------------ThreeDimension:3D*/
background:#fff !important;
}

#com-navi{
margin:0 auto;
position:relative;
width:880px;
height:53px;
}

#com-navi h1{
/*float:left;*/
position:absolute;
top:0;
left:0;
margin:14px 0 11px;
padding:0;
width:129px;
height:23px;
overflow:hidden;
}

#com-navi h1 a{
display:block;
width:129px;
height:23px;
background:url("../img/header/logo-005.gif?111215") no-repeat;
}

#com-navi h1 a:hover img{
position:relative;
top:-23px;
}

#com-navi h1 a:hover{
background:url("../img/header/logo-005.gif?111215") no-repeat 0 100%;
}

ul#comnavi-lists{
display:block;
position:relative;
height:45px;
background:#fff;
margin-left:0;
}

ul#comnavi-lists ol{
margin:0;
padding:0;
}

ul#comnavi-lists li#mainnavi01,
ul#comnavi-lists li#mainnavi02,
ul#comnavi-lists li#mainnavi03,
ul#comnavi-lists li#mainnavi04,
ul#comnavi-lists li#mainnavi05,
ul#comnavi-lists li#mainnavi06,
ul#comnavi-lists li#mainnavi07,
ul#comnavi-lists li#mainnavi08{
display:block;
position:relative;
float:left;
text-align:center;
}

ul#comnavi-lists li#mainnavi01,
ul#comnavi-lists li#mainnavi02,
ul#comnavi-lists li#mainnavi03,
ul#comnavi-lists li#mainnavi04,
ul#comnavi-lists li#mainnavi05,
ul#comnavi-lists li#mainnavi06,
ul#comnavi-lists li#mainnavi07,
ul#comnavi-lists li#mainnavi08{
width:110px;
}

ul#comnavi-lists li#mainnavi01 a,
ul#comnavi-lists li#mainnavi02 a,
ul#comnavi-lists li#mainnavi03 a,
ul#comnavi-lists li#mainnavi04 a,
ul#comnavi-lists li#mainnavi05 a,
ul#comnavi-lists li#mainnavi06 a,
ul#comnavi-lists li#mainnavi07 a,
ul#comnavi-lists li#mainnavi08 a{
display:block;
height:45px;
background:url("../img/header/gmenu_bg-201208.jpg") no-repeat;
}

ul#comnavi-lists li#mainnavi01 a.main-hover img,
ul#comnavi-lists li#mainnavi02 a.main-hover img,
ul#comnavi-lists li#mainnavi03 a.main-hover img,
ul#comnavi-lists li#mainnavi04 a.main-hover img,
ul#comnavi-lists li#mainnavi05 a.main-hover img,
ul#comnavi-lists li#mainnavi06 a.main-hover img,
ul#comnavi-lists li#mainnavi07 a.main-hover img,
ul#comnavi-lists li#mainnavi08 a.main-hover img{
visibility:hidden;
}

ul#comnavi-lists li#mainnavi01 a:hover img,
ul#comnavi-lists li#mainnavi01 a.main-current img,
ul#comnavi-lists li#mainnavi02 a:hover img,
ul#comnavi-lists li#mainnavi02 a.main-current img,
ul#comnavi-lists li#mainnavi03 a:hover img,
ul#comnavi-lists li#mainnavi03 a.main-current img,
ul#comnavi-lists li#mainnavi04 a:hover img,
ul#comnavi-lists li#mainnavi04 a.main-current img,
ul#comnavi-lists li#mainnavi05 a:hover img,
ul#comnavi-lists li#mainnavi05 a.main-current img,
ul#comnavi-lists li#mainnavi06 a:hover img,
ul#comnavi-lists li#mainnavi06 a.main-current img,
ul#comnavi-lists li#mainnavi07 a:hover img,
ul#comnavi-lists li#mainnavi07 a.main-current img,
ul#comnavi-lists li#mainnavi08 a:hover img,
ul#comnavi-lists li#mainnavi08 a.main-current img{
visibility:hidden;
}

ul#comnavi-lists li#mainnavi01 a{
background-position:0 0;
}

ul#comnavi-lists li#mainnavi01 a:hover,
ul#comnavi-lists li#mainnavi01 a.main-hover{
background-position:0 -45px;
}

ul#comnavi-lists li#mainnavi01 a.main-current,
ul#comnavi-lists li#mainnavi01 a.main-current:hover{
background-position:0 -90px;
}

ul#comnavi-lists li#mainnavi02 a{
background-position:-110px 0;
}

ul#comnavi-lists li#mainnavi02 a:hover,
ul#comnavi-lists li#mainnavi02 a.main-hover{
background-position:-110px -45px;
}

ul#comnavi-lists li#mainnavi02 a.main-current,
ul#comnavi-lists li#mainnavi02 a.main-current:hover{
background-position:-110px -90px;
}

ul#comnavi-lists li#mainnavi03 a{
background-position:-220px 0;
}

ul#comnavi-lists li#mainnavi03 a:hover,
ul#comnavi-lists li#mainnavi03 a.main-hover{
background-position:-220px -45px;
}

ul#comnavi-lists li#mainnavi03 a.main-current,
ul#comnavi-lists li#mainnavi03 a.main-current:hover{
background-position:-220px -90px;
}

ul#comnavi-lists li#mainnavi07 a{
background-position:-330px 0;
}

ul#comnavi-lists li#mainnavi07 a:hover,
ul#comnavi-lists li#mainnavi07 a.main-hover{
background-position:-330px -45px;
}

ul#comnavi-lists li#mainnavi07 a.main-current,
ul#comnavi-lists li#mainnavi07 a.main-current:hover{
background-position:-330px -90px;
}

ul#comnavi-lists li#mainnavi04 a{
background-position:-440px 0;
}

ul#comnavi-lists li#mainnavi04 a:hover,
ul#comnavi-lists li#mainnavi04 a.main-hover{
background-position:-440px -45px;
}

ul#comnavi-lists li#mainnavi04 a.main-current,
ul#comnavi-lists li#mainnavi04 a.main-current:hover{
background-position:-440px -90px;
}

ul#comnavi-lists li#mainnavi08 a{
background-position:-550px 0;
}

ul#comnavi-lists li#mainnavi08 a:hover,
ul#comnavi-lists li#mainnavi08 a.main-hover{
background-position:-550px -45px;
}

ul#comnavi-lists li#mainnavi08 a.main-current,
ul#comnavi-lists li#mainnavi08 a.main-current:hover{
background-position:-550px -90px;
}

ul#comnavi-lists li#mainnavi05 a{
background-position:-660px 0;
}

ul#comnavi-lists li#mainnavi05 a:hover,
ul#comnavi-lists li#mainnavi05 a.main-hover{
background-position:-660px -45px;
}

ul#comnavi-lists li#mainnavi05 a.main-current,
ul#comnavi-lists li#mainnavi05 a.main-current:hover{
background-position:-660px -90px;
}

ul#comnavi-lists li#mainnavi06 a{
background-position:-770px 0;
}

ul#comnavi-lists li#mainnavi06 a:hover,
ul#comnavi-lists li#mainnavi06 a.main-hover{
background-position:-770px -45px;
}

ul#comnavi-lists li#mainnavi06 a.main-current,
ul#comnavi-lists li#mainnavi06 a.main-current:hover{
background-position:-770px -90px;
}

/* subnavi */

ul#comnavi-lists ol{
display:block;
position:absolute;
z-index:101;
height:auto;
}

ul#comnavi-lists ol#subnavi01,
ul#comnavi-lists ol#subnavi02,
ul#comnavi-lists ol#subnavi03,
ul#comnavi-lists ol#subnavi04,
ul#comnavi-lists ol#subnavi05,
ul#comnavi-lists ol#subnavi06,
ul#comnavi-lists ol#subnavi07,
ul#comnavi-lists ol#subnavi08,
ul#comnavi-lists ol#subnavi01 li a,
ul#comnavi-lists ol#subnavi02 li a,
ul#comnavi-lists ol#subnavi03 li a,
ul#comnavi-lists ol#subnavi04 li a,
ul#comnavi-lists ol#subnavi05 li a,
ul#comnavi-lists ol#subnavi06 li a,
ul#comnavi-lists ol#subnavi07 li a,
ul#comnavi-lists ol#subnavi08 li a{
width:156px;
}

ul#comnavi-lists ol#subnavi01 a{
background:url("../img/header/sub_01-201112.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi02 a{
background:url("../img/header/sub_02-201112.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi03 a{
background:url("../img/header/sub_03-201112.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi04 a{
background:url("../img/header/sub_04-201112.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi05 a{
background:url("../img/header/sub_05-201209.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi06 a{
background:url("../img/header/sub_06-201311.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi07 a{
background:url("../img/header/sub_07-201112.gif") no-repeat;
}

ul#comnavi-lists ol#subnavi08 a{
background:url("../img/header/sub_08-201201.gif") no-repeat;
}

ul#comnavi-lists ol li{
display:block;
position:relative;
}

*html ul#comnavi-lists ol li{
left:-55px;/*IE6*/
}

*:first-child+html ul#comnavi-lists ol li{
left:-55px;/*IE7*/
}

ul#comnavi-lists ol#subnavi01 li a,
ul#comnavi-lists ol#subnavi02 li a,
ul#comnavi-lists ol#subnavi03 li a,
ul#comnavi-lists ol#subnavi04 li a,
ul#comnavi-lists ol#subnavi05 li a,
ul#comnavi-lists ol#subnavi06 li a,
ul#comnavi-lists ol#subnavi07 li a,
ul#comnavi-lists ol#subnavi08 li a{
display:block;
text-indent:-9999px;
outline:none;
}

ul#comnavi-lists ol#subnavi01 li a,
ul#comnavi-lists ol#subnavi02 li a,
ul#comnavi-lists ol#subnavi05 li a,
ul#comnavi-lists ol#subnavi06 li a,
ul#comnavi-lists ol#subnavi07 li a,
ul#comnavi-lists ol#subnavi08 li a{
height:24px;
}

ul#comnavi-lists ol#subnavi03 li a,
ul#comnavi-lists ol#subnavi04 li a{
height:33px;
}

ul#comnavi-lists ol li a#sub0101,
ul#comnavi-lists ol li a#sub0201,
ul#comnavi-lists ol li a#sub0501,
ul#comnavi-lists ol li a#sub0601,
ul#comnavi-lists ol li a#sub0701,
ul#comnavi-lists ol li a#sub0801{
height:29px;
background-position:0 0;
}

ul#comnavi-lists ol li a#sub0301,
ul#comnavi-lists ol li a#sub0401{
height:33px;
background-position:0 0;
}

ul#comnavi-lists ol li a#sub0504{
height:37px;
background-position:0 0;
}

ul#comnavi-lists ol li a#sub0101:hover,
ul#comnavi-lists ol li a#sub0101.sub-current,
ul#comnavi-lists ol li a#sub0201:hover,
ul#comnavi-lists ol li a#sub0201.sub-current,
ul#comnavi-lists ol li a#sub0301:hover,
ul#comnavi-lists ol li a#sub0301.sub-current,
ul#comnavi-lists ol li a#sub0401:hover,
ul#comnavi-lists ol li a#sub0401.sub-current,
ul#comnavi-lists ol li a#sub0501:hover,
ul#comnavi-lists ol li a#sub0501.sub-current,
ul#comnavi-lists ol li a#sub0601:hover,
ul#comnavi-lists ol li a#sub0601.sub-current,
ul#comnavi-lists ol li a#sub0701:hover,
ul#comnavi-lists ol li a#sub0701.sub-current,
ul#comnavi-lists ol li a#sub0801:hover,
ul#comnavi-lists ol li a#sub0801.sub-current{
background-position:100% 0;
}

ul#comnavi-lists ol li a#sub0102,
ul#comnavi-lists ol li a#sub0202,
ul#comnavi-lists ol li a#sub0606,
ul#comnavi-lists ol li a#sub0702,
ul#comnavi-lists ol li a#sub0802{
background-position:0 -29px;
}

ul#comnavi-lists ol li a#sub0504{
background-position:0 -29px;
}

ul#comnavi-lists ol li a#sub0102:hover,
ul#comnavi-lists ol li a#sub0102.sub-current,
ul#comnavi-lists ol li a#sub0202:hover,
ul#comnavi-lists ol li a#sub0202.sub-current,
ul#comnavi-lists ol li a#sub0504:hover,
ul#comnavi-lists ol li a#sub0504.sub-current,
ul#comnavi-lists ol li a#sub0606:hover,
ul#comnavi-lists ol li a#sub0606.sub-current,
ul#comnavi-lists ol li a#sub0702:hover,
ul#comnavi-lists ol li a#sub0702.sub-current,
ul#comnavi-lists ol li a#sub0802:hover,
ul#comnavi-lists ol li a#sub0802.sub-current{
background-position:100% -29px;
}

ul#comnavi-lists ol li a#sub0103,
ul#comnavi-lists ol li a#sub0203,
ul#comnavi-lists ol li a#sub0605,
ul#comnavi-lists ol li a#sub0803{
background-position:0 -53px;
}

ul#comnavi-lists ol li a#sub0502{
height:24px;
background-position:0 -66px;
}

ul#comnavi-lists ol li a#sub0503{
height:26px;
background-position:0 -90px;
}

ul#comnavi-lists ol li a#sub0703{
height:27px;
background-position:0 -53px;
}

ul#comnavi-lists ol li a#sub0103:hover,
ul#comnavi-lists ol li a#sub0103.sub-current,
ul#comnavi-lists ol li a#sub0203:hover,
ul#comnavi-lists ol li a#sub0203.sub-current,
ul#comnavi-lists ol li a#sub0403:hover,
ul#comnavi-lists ol li a#sub0403.sub-current,
ul#comnavi-lists ol li a#sub0605:hover,
ul#comnavi-lists ol li a#sub0605.sub-current,
ul#comnavi-lists ol li a#sub0703:hover,
ul#comnavi-lists ol li a#sub0703.sub-current,
ul#comnavi-lists ol li a#sub0803:hover,
ul#comnavi-lists ol li a#sub0803.sub-current{
background-position:100% -53px;
}

ul#comnavi-lists ol li a#sub0104,
ul#comnavi-lists ol li a#sub0204,
ul#comnavi-lists ol li a#sub0604,
ul#comnavi-lists ol li a#sub0804{
background-position:0 -77px;
}

ul#comnavi-lists ol li a#sub0104:hover,
ul#comnavi-lists ol li a#sub0104.sub-current,
ul#comnavi-lists ol li a#sub0204:hover,
ul#comnavi-lists ol li a#sub0204.sub-current,
ul#comnavi-lists ol li a#sub0604:hover,
ul#comnavi-lists ol li a#sub0604.sub-current,
ul#comnavi-lists ol li a#sub0804:hover,
ul#comnavi-lists ol li a#sub0804.sub-current{
background-position:100% -77px;
}

ul#comnavi-lists ol li a#sub0502:hover,
ul#comnavi-lists ol li a#sub0502.sub-current{
background-position:100% -66px;
}

ul#comnavi-lists ol li a#sub0105{
height:29px;
background-position:0 -101px;
cursor:default;
}

ul#comnavi-lists ol li a#sub0205,
ul#comnavi-lists ol li a#sub0607{
background-position:0 -101px;
}

ul#comnavi-lists ol li a#sub0805{
background-position:0 -101px;
height:28px;
}

ul#comnavi-lists ol li a#sub0105:hover,
ul#comnavi-lists ol li a#sub0105.sub-current,
ul#comnavi-lists ol li a#sub0205:hover,
ul#comnavi-lists ol li a#sub0205.sub-current,
ul#comnavi-lists ol li a#sub0607:hover,
ul#comnavi-lists ol li a#sub0607.sub-current{
background-position:100% -101px;
}

ul#comnavi-lists ol li a#sub0503:hover,
ul#comnavi-lists ol li a#sub0503.sub-current{
background-position:100% -90px;
}

ul#comnavi-lists ol li a#sub0805:hover,
ul#comnavi-lists ol li a#sub0805.sub-current{
background-position:100% -101px;
height:28px;
}

ul#comnavi-lists ol li a#sub0106{
background-position:0 -130px;
}

ul#comnavi-lists ol li a#sub0106:hover,
ul#comnavi-lists ol li a#sub0106.sub-current{
background-position:100% -130px;
}

ul#comnavi-lists ol li a#sub0206,
ul#comnavi-lists ol li a#sub0602{
height:28px;
background-position:0 -125px;
}

ul#comnavi-lists ol li a#sub0206:hover,
ul#comnavi-lists ol li a#sub0206.sub-current,
ul#comnavi-lists ol li a#sub0602:hover,
ul#comnavi-lists ol li a#sub0602.sub-current{
background-position:100% -125px;
}

ul#comnavi-lists ol li a#sub0107{
background-position:0 -154px;
}

ul#comnavi-lists ol li a#sub0107:hover,
ul#comnavi-lists ol li a#sub0107.sub-current{
background-position:100% -154px;
}

ul#comnavi-lists ol li a#sub0110{
background-position:0 -178px;
}

ul#comnavi-lists ol li a#sub0110:hover,
ul#comnavi-lists ol li a#sub0110.sub-current{
background-position:100% -178px;
}

ul#comnavi-lists ol li a#sub0108{
background-position:0 -202px;
}

ul#comnavi-lists ol li a#sub0108:hover,
ul#comnavi-lists ol li a#sub0108.sub-current{
background-position:100% -202px;
}

ul#comnavi-lists ol li a#sub0109{
height:30px;
background-position:0 -226px;
}

ul#comnavi-lists ol li a#sub0109:hover,
ul#comnavi-lists ol li a#sub0109.sub-current{
background-position:100% -226px;
}

/* forIE6 select */

ul#comnavi-lists iframe{
display:none;
position:absolute;
z-index:99;
left:0;
}

#comnavi-lists #mainnavi01 iframe{
height:253px;
}

#comnavi-lists #mainnavi02 iframe,
#comnavi-lists #mainnavi06 iframe{
height:153px;
}

#comnavi-lists #mainnavi03 iframe,
#comnavi-lists #mainnavi04 iframe{
height:33px;
}

#comnavi-lists #mainnavi05 iframe{
height:116px;
}

#comnavi-lists #mainnavi08 iframe{
height:129px;
}

#comnavi-lists #mainnavi07 iframe{
height:80px;
}

#comnavi-lists #mainnavi01 iframe,
#comnavi-lists #mainnavi02 iframe,
#comnavi-lists #mainnavi03 iframe,
#comnavi-lists #mainnavi04 iframe,
#comnavi-lists #mainnavi05 iframe,
#comnavi-lists #mainnavi06 iframe,
#comnavi-lists #mainnavi07 iframe,
#comnavi-lists #mainnavi08 iframe{
width:156px;
}

* html ul#comnavi-lists iframe{
display:block;
filter:mask();
}

/* ------------------gmenu終わり------------------------------- */
/* ------------------------------------------------------------ */

.searchcheck{
margin:0 0 8px;
padding:0 0 0 12px;
width:248px;
height:27px;
list-style:none;
background:url("../img/gsform/searchcheck_bg.gif?111215") no-repeat;
}

.searchcheck li{
float:left;
height:23px;
background-image:url("../img/gsform/searchcheck_bg.gif?111215");
text-indent:-9999px;
cursor:pointer;
}

.searchcheck li#clist01{
width:42px;
background-position:-12px 0;
}

.searchcheck li#clist01 label{
width:42px;
}

.searchcheck li#clist02{
width:54px;
background-position:-54px 0;
}

.searchcheck li#clist03{
width:82px;
background-position:-108px 0;
}

.searchcheck li#clist04{
width:60px;
background-position:-190px 0;
}

.searchcheck li#clist05{
width:60px;
background-position:-250px 0;
}

.searchcheck li#clist05.selected{
background-position:-250px -27px;
}

.searchcheckResult li#clist05{
background-position:-250px 0;
width: 120px;
}

.searchcheck li#clist01.selected{
background-position:-12px -27px;
}

.searchcheck li#clist02.selected{
background-position:-54px -27px;
}

.searchcheck li#clist03.selected{
background-position:-108px -27px;
}

.searchcheck li#clist04.selected{
background-position:-190px -27px;
}

.searchcheck li input{
display:none;
}

.searchcheckResult{
margin:0 0 8px;
padding:0 0 0 12px;
width:360px;
height:27px;
list-style:none;
background:url("../img/gsform/searchcheck_bg.gif?111215") no-repeat;
}

.searchcheckResult li{
float:left;
height:23px;
background-image:url("../img/gsform/searchcheck_bg.gif?111215");
text-indent:-9999px;
cursor:pointer;
}

.searchcheckResult li#clist01{
width:42px;
background-position:-12px 0;
}

.searchcheckResult li#clist01 label{
width:42px;
}

.searchcheckResult li#clist02{
width:54px;
background-position:-54px 0;
}

.searchcheckResult li#clist03{
width:82px;
background-position:-108px 0;
}

.searchcheckResult li#clist04{
width:60px;
background-position:-190px 0;
}

.searchcheckResult li input{
display:none;
}

#header-banner{
float:right;
height:47px;
padding-top:4px;
z-index:9999;
}

#header-banner ul li{
float:left;
padding-top:9px;
height:36px;
list-style-type:none;
}

#header-banner ul li a{
outline:none;
}

#header-banner ul li a:hover img{
filter: alpha(opacity=60);
-moz-opacity:0.6;
opacity:0.6;
}

/* contact info */

#header-banner .contactinfo{
position:relative;
}

#header-banner .contactinfo iframe{
display:none;
position:absolute;
z-index:120;
top:38px;
right:5px;
width:234px;
background-color:transparent !important;
}

#header-banner .contactinfo #telnumimg{
display:none;
position:absolute;
width:242px;
top:28px;
right:0;
z-index:121;
}

#header-banner .contactinfo #telnumimg h2{
margin:0;
padding:0;
border:0;
}

#header-banner .contactinfo #telnumimg ul{
margin:0 !important;
padding:0 !important;
}

#header-banner .contactinfo #telnumimg ul li{
list-style:none;
background:none;
padding:0;
margin:0;
height:auto;
z-index:9999;
}

.bubbleInfo {
/*position:absolute;*/
z-index:9999 !important;

}

.bubbleInfo,
.bubbleInfo * { margin:0; padding:0;}
.trigger { position:absolute; }
/* Bubble pop-up */
.popup {
position:absolute;
display:none;
z-index:9999 !important;
border-collapse:collapse;
background:#fff;
padding:3px;
font-size:10px;
-moz-box-shadow:0 3px 3px #ccc;
white-space:nowrap;
}

#fixed-right{
position:fixed;
top:353px;
right:0;
z-index:100;

/* IE6 later && javascript-on */
position: expression('absolute');
top: expression((documentElement.scrollTop || document.body.scrollTop) + 353 + 'px');
right: expression((documentElement.scrollLeft || document.body.scrollLeft) + 0);
}

#fixed-right a{
/*background:url("../img/header/tpoint-banner20130401.gif") 0 0 no-repeat;通常バナー*/
/*background:url(/img/header/tpoint-banner20120621.gif) 0 0 no-repeat;30倍バナー*/
/*background:url("../img/header/tpoint-banner20130801.gif") 0 0 no-repeat;新規登録CP*/
/*background:url("../img/header/tpoint-banner20130902.jpg") 0 0 no-repeat;新規登録100pt＆購入10倍バナー*/
/*background:url("../img/header/tpoint-banner20131001.jpg") 0 0 no-repeat;10月は1万ポイント当たる*/
background:url("../img/Tpoint/20131101-40x370.jpg") 0 0 no-repeat;/*通常バナー*/
/*background:url("../img/Tpoint/20131105-40x370.gif") 0 0 no-repeat;point50倍*/
/*background:url("../img/TPoint/20131202-40x370.jpg") 0 0 no-repeat;2月は1万ポイント当たる*/
/*background:url("../img/TPoint/20140106-40x370.jpg") 0 0 no-repeat;Tポイント連携手続きでもれなく100ポイントもらえる！*/
/*background:url("../img/TPoint/bnr-tpoint-mimitabu140203.jpg") 0 0 no-repeat;最大3000ポイントがもれなくもらえる！*/
display:block;
height:185px;
text-indent:-9999px;
overflow:hidden;
width:40px;
}

#fixed-right a:hover,
#fixed-regi a:hover{
background-position:0 100%;
}

#fixed-regi{
position:fixed;
top:157px;
right:0;
z-index:100;

/* IE6 later && javascript-on */
position: expression('absolute');
top: expression((documentElement.scrollTop || document.body.scrollTop) + 157 + 'px');
right: expression((documentElement.scrollLeft || document.body.scrollLeft) + 0);
}

#fixed-regi a{
background:url("../img/header/bnr-memberregi-side.jpg") 0 0 no-repeat;/*新規メンバー登録*/
display:block;
height:187px;
text-indent:-9999px;
overflow:hidden;
width:40px;
}

#fixed-right.no-regi{
position:fixed;
top:157px;
right:0;
z-index:100;

/* IE6 later && javascript-on */
position: expression('absolute');
top: expression((documentElement.scrollTop || document.body.scrollTop) + 157 + 'px');
right: expression((documentElement.scrollLeft || document.body.scrollLeft) + 0);
}

#naviLink01Rm {
position: fixed;
top:353px;
right: 0;
z-index:100;
display:none;
 
/* IE6 later && javascript-on */
position: expression('absolute');
top: expression((documentElement.scrollTop || document.body.scrollTop) + 353 + 'px');
right: expression((documentElement.scrollLeft || document.body.scrollLeft) + 0);
}

#naviLink01Rm img{
border:none;
}