@charset "shift-jis";

/*----------------------------------------------------

Global footer

----------------------------------------------------*/
footer {
	line-height: 1.6;
}
footer ul {
	line-height: 1.6;
}
footer #copyright:after {
    clear: both;
    content: "";
    display: block;
}
footer #copyright {
    background: url("../img/footer2/footer-hrbg.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    padding-top: 40px;
}

footer #copyright .footer-phones {
    float: left;
    margin-top: 6px;
    overflow: hidden;
    width: 79.591%;
}

footer #copyright .footer-phones:after {
    clear: both;
    content: "";
    display: block;
}

footer #copyright .footer-phones li {
    border-right: 1px dashed #FFFFFF;
    color: #FFFFFF;
    float: left;
    font-size: 75%;
    margin-right: 1.02%;
    width: 29.513%;
}

footer #copyright .footer-phones li span {
    background: url("../img/footer2/icon-freedial-white01.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    font-size: 150%;
    padding-left: 25px;
}

footer #copyright .footer-phones li span.faxnumber {
    background: url("../img/footer2/icon-faxnumber-gray.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-size: 150%;
    padding-left: 38px;
}

footer #copyright .footer-phones .ip-phone{
width:auto;
height:auto !important;
padding-right:20px;
border-right:none;
}

footer #copyright .ip-desk{
font-size: 86%;
color: #FFFFFF;
margin-bottom:-5px;
}

footer #copyright .ip-hours{
font-size: 75%;
padding-top:5px;
color: #FFFFFF;
clear:both;
}

footer #copyright .footer-goiken a {
    background: -moz-linear-gradient(center top , #4A4A4A, #353535) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    box-shadow: 1px 1px 3px #1D1D1D;
    color: #FFFFFF;
    display: block;
    font-size: 63%;
    margin: 0 5px 5px 0;
    outline: medium none;
    padding: 30px 10px 10px;
    position: relative;
    text-decoration: none;
}

footer #copyright .footer-goiken a img {
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: -6px;
}

footer #copyright .footer-amanalogo {
    clear: both;
    color: #FFFFFF;
    font-size: 75%;
    overflow: hidden;
    padding-top: 20px;
    float: none;
}

footer #copyright .footer-amanalogo p {
    float: left;
    padding-top: 5px;
    width: 91.837%;
}

footer #copyright .footer-amanalogo p img {
    float: left;
    margin-right: 10px;
}

footer #copyright .footer-amanalogo a {
    color: #FFFFFF;
}

footer #copyright .footer-amanalogo img {
    float: right;
    margin: 0;
}


/* ========== Topへ戻るアンカー ←styleguide.cssから移植 ========== */

footer #footer #goto-top{
position:absolute;
right:0;
top:-36px;
z-index:100;
}

footer #footer #goto-top.gsp-open{
z-index:99;
}

footer #footer #goto-top a{
background: -webkit-gradient(linear, left top, left bottom, from(#00b1ee), to(#4cc8f3));
background: -moz-linear-gradient(top, #00b1ee, #4cc8f3);
background: -ms-linear-gradient(top, #00b1ee, #4cc8f3);
-pie-background: linear-gradient(#00b1ee, #4cc8f3);
-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
-webkit-box-shadow: 2px -1px 3px #c5c4c4;
-moz-box-shadow: 2px -1px 3px #c5c4c4;
box-shadow: 2px -1px 3px #c5c4c4;
padding:3px 3px 0 3px;
display:inline-block;
outline:none;
behavior:url(/css/home/PIE.htc);
position:relative;
}

footer #footer #goto-top a:hover{
background: -webkit-gradient( linear, left top, left bottom, from(#8ed9f3), to(#68cdf0));
background: -moz-linear-gradient( top, #8ed9f3, #68cdf0);
background: -ms-linear-gradient( top, #8ed9f3, #68cdf0);
-pie-background: linear-gradient(#8ed9f3, #68cdf0);
behavior:url(/css/PIE.htc);
position:relative;
}

footer #footer #goto-top img{
vertical-align:bottom;
}

/* ========== heading ========== */

footer #footer h3 {
    background: url("../img/common/heading-leftline-h3g.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    font-size: 100%;
    line-height: 1.2;
    margin: 20px 0 10px;
    padding: 0 0 0 15px;
}

footer #footer h4 {
    margin: 0;
    padding: 0 0 0.3em;
}

footer #footer #megalinks #footer-amanainfo {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    display: block;
    float: right;
    font-size: 88%;
    margin: 0;
    position: relative;
    width: 39.49%;
    color: #505055;
}

footer #footer #megalinks #footer-amanainfo h3 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 5px 0;
    box-shadow: 3px 2px 2px #C5C4C4;
    color: #505055;
    left: 8px;
    margin: 0;
    padding: 0 5px 5px 0;
    position: absolute;
    top: 8px;
    z-index: 10;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide {
    height: 230px;
    margin: 8px 8px 0;
    overflow: hidden;
    position: relative;
    width: 370px;
    z-index: 1;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide li {
    position: absolute;
    z-index: 99;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide span {
    cursor: pointer;
    line-height: 1;
    position: absolute;
    top: 75px;
    z-index: 100;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide span.prev {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 5px 5px 0;
    box-shadow: 3px 1px 2px #C5C4C4;
    left: 0;
    margin: 0;
    padding: 5px 5px 5px 0;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide span.next {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 0 0 5px;
    box-shadow: -3px 1px 2px #C5C4C4;
    margin: 0;
    padding: 5px 0 5px 5px;
    right: 0;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide .amanainfo-slide-nav {
    bottom: 20px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 1999;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide .amanainfo-slide-nav li {
    float: left;
    padding: 0 5px;
    position: static;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide .amanainfo-slide-nav li a {
    background: url("../img/footer2/footer-slidemark-n.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-slide .amanainfo-slide-nav li a:hover, footer #footer #megalinks #footer-amanainfo #amanainfo-slide .amanainfo-slide-nav li a.current {
    background: url("../img/footer2/footer-slidemark-a.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
footer #footer #megalinks #footer-amanainfo #amanainfo-static {
    margin-left: 8px;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-static li {
    padding: 0 8px 10px 90px;
    position: relative;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-static li img {
    left: 0;
    position: absolute;
    top: 0;
}
footer #footer #megalinks #footer-amanainfo #amanainfo-static li a 
{
	color: #00B1EE;
}
.icon-outlink02{
padding-left:5px;vertical-align:middle;
}
