@charset "shift_jis";

body,
/*#error-area,*/
#error-area p,
#error-area ul,
#error-area ul li{
margin:0;
padding:0;
}

#error-area{
padding-top:20px;
padding-bottom:20px;
}

#error-area p{
color:#505055;
font-size:12px;
line-height:1.8;
}

#error-area .notice span,
#error-area #hint-search ul li{
font-size:16px;
}

#error-area #hint-search ul li{
color:#3b6783;
}

#error-area .notice .customuser{
display:none;
font-size:12px;
padding-top:0.5em;
padding-left:1em;
text-indent:-1em;
}

#error-area #hint-search img {
margin-bottom:5px;
}

#error-area #hint-search ul li{
text-indent:-1em;
margin-left:1em;
list-style:none;
line-height:1.6;
margin-bottom:17px;
}

#error-area #hint-search ul li span{
margin-left:-1em;
}

#error-area #hint-search ul li span span{
margin-left:0;
}

#error-area a img{
border:none;
}

#error-area a:hover{
color:#7594a8;
}

#error-area span a{
background:url("../img/result/link-marker-s.gif") 0 2px no-repeat;
padding-left:15px;
display:block;
line-height:14px;
margin:5px 0 5px;
color:#3b6783;
font-weight:bold;
text-decoration:none;
}

#error-area #research{
background:#f8f8f8;
border-right:27px #FFF solid;
}

#error-area #research span a{
margin:10px 0 12px;
}

#error-area #research span.email a{
font-size:116%;
color:#00b1ee;
margin:0 0 10px 0;
padding:0;
background:none;
display:inline-block;
}
#error-area #research span.email a:hover{
color:#66d0f5;
}

#error-area span.notice,
#error-area #this-side span,
#error-area #hint-search ul li span span{
font-weight:bold;
}

#error-area span.notice,
#error-area #hint-search ul li span{
font-size:14px;
}

#error-area #this-side{
background:url("../img/result/line-dot.gif") top repeat-x;
padding-top:20px;
margin-top:35px;
}

#error-area #shooting-request span a{
margin-left:30px;
}

#error-area #soundResearch {
background:#f8f8f8;

}

#error-area #soundResearch p{

color:#3b6783;
}

#error-area #soundResearchButton{
text-align:right;
color:#3b6783;
font-size:12px;
}

#error-area #this-side span a img{
vertical-align:middle;
margin-left:5px;
}

/* cross search area */
#error-area #this-side h2{
margin:0;
padding:0 0 10px 0;
}

#error-area #this-side td{
padding-right:20px;
vertical-align:top;
}

#error-area #this-side td.last-child{
padding-right:0;
}

#error-area #this-side td a:hover img{
filter: alpha(opacity=60);
-moz-opacity:0.60;
opacity:0.60;
}

/* ========== for Search Title Style ========== */
#title-result{
margin:5px 27px 0 27px;
padding:0 0 5px 0;
/*padding:10px 0 10px 0;
border-top:#505055 1px dotted;*/
border-bottom:#505055 1px dotted;
color:#505055;
}

#title-result:after {
content: "";
clear: both;
display: block;
}

#title-result .title-result-number{
float:left;
padding:5px 0 5px 0;
}

#title-result .title-result-num{
float:left;
padding:5px 0 5px 0;
font-size: 75%;
}

#title-result .title-result-sortarea{
float:right;
padding:5px 10px 5px 10px;
background:#f2f2f2;
}

#title-result .title-result-sortarea:after {
content: "";
clear: both;
display: block;
}

#title-result .title-result-sortarea h2, #title-result .title-result-sortarea p{
float:left;
line-height:1;
margin:0;
padding:0;
}

#title-result .title-result-sortarea h2{
padding:5px 15px 5px 0;
border-right:1px solid #505055;
font-weight:bold;
font-size:63%;
}

#title-result .title-result-sortarea p{
padding-left:15px;
font-size:63%;
}

#title-result .title-result-sortarea span, #title-result .title-result-sortarea a{
display:inline-block;
padding:5px 8px 5px 8px;
border-left:5px #f2f2f2 solid;
}

#title-result .title-result-sortarea span{
background:#1eb2eb;
color:#FFF;
}

#title-result .title-result-sortarea a{
background:#FFF;
color:#505055;
text-decoration:none;
font-weight:normal;
}

#title-result .title-result-sortarea a:hover{
background:#505055;
color:#FFF;
text-decoration:none;
}

/* ========== for New Pager Style ========== */
/* for test
#result-title{display:none;}
.search-move-only{display:none;} */

.pagerarea{
padding:0 27px 10px 27px;
/*margin-top:-25px;*/
}

.pagerarea:after, .pagerarea .pagenation:after {
content: "";
clear: both;
display: block;
}

.pagerarea .pagenation{
border-right:1px solid #505055;
padding-right:9px;
/*margin:25px 10px 10px 0;*/
margin:0 10px 10px 0;
float:left;
position:relative;
}

.pagerarea .pagenation a, .pagerarea .pagenation span{
display:inline-block;
padding:5px 8px 5px 8px;
border-right:1px solid #FFF;
/*font-size:63%;*/
font-size:75%;
line-height:1;
font-weight:normal;
}

.pagerarea .pagenation .shortcut{
position:absolute;
font-size:86%;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-box-shadow: 0 0 3px 0 #999;
-moz-box-shadow: 0 0 3px 0 #999;
box-shadow: 0 0 3px 0 #999;
top:28px;
border:none;
display:inline-block;
behavior:url(/css/home/PIE.htc);
white-space:nowrap;
z-index:1000;
}

.pagerarea .pagenation a{
/*background:#505055;*/
background:#FFF;
/*color:#FFF;*/
color:#505055;
text-decoration:none;
}

.pagerarea .pagenation a:hover{
/*background:#b0b0b3;*/
background:#505055;
color:#FFF;
text-decoration:none;
}

.pagerarea .pagenation span{
background:#1eb2eb;
color:#FFF;
}

/* for page next back */
.page-nextback{
float:right;
margin-top:-25px;
}

.page-nextback:after {
content: "";
clear: both;
display: block;
}

.page-nextback a{
display:inline-block;
/*padding:34px 25px 35px 25px;*/
font-size:75%;
line-height:1;
font-weight:normal;
color:#FFF;
position:relative;
}

.page-nextback a:hover{
font-weight:normal;
color:#FFF;
filter: alpha(opacity=60);
-ms-filter: 'alpha(opacity=60)';
opacity:0.6;
}

.page-nextback a.page-back{
background:#595959 url(../img/common/pager-btn-back.gif) no-repeat left center;
padding:34px 25px 35px 65px;
}

.page-nextback a.page-next{
background:#1eb2eb url(../img/common/pager-btn-next.gif) no-repeat right center;
padding:34px 65px 35px 25px;
}

/* for easyselectbox plugin */
.pagejumper{
/*margin:24px 0 10px 0;*/
margin:0 0 10px 0;
padding:2px;
}

.easy-select-box{
background: #fff;
border:1px solid #cfcfcf;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
text-align:left;
font-size:75%;
color:#505055;
float:left;
behavior:url(/css/home/PIE.htc);
position:relative;
margin:24px 0 10px 0;
}
.easy-select-box .esb-displayer{
background:url(../img/common/pager-drop-down.png) no-repeat right center, -webkit-gradient( linear, left top, left bottom, from(#fefefe), to(#f4f4f4)) 0 0;
background:url(../img/common/pager-drop-down.png) no-repeat right center, -moz-linear-gradient( top, #fefefe, #f4f4f4);
background:url(../img/common/pager-drop-down.png) no-repeat right center, -ms-linear-gradient( top, #fefefe, #f4f4f4);
-pie-background:url(../img/common/pager-drop-down.png) no-repeat right center, linear-gradient(#fefefe, #f4f4f4);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color:#505055;
cursor: default;
padding:1px 5px 1px 5px;
text-indent: 5px;
width:80px;
behavior:url(/css/home/PIE.htc);
position:relative;
}
.easy-select-box .esb-displayer:hover {
filter: alpha(opacity=80);
-ms-filter: 'alpha(opacity=80)';
opacity:0.8;
}
.easy-select-box:hover .esb-displayer{
text-decoration:none;
}
.easy-select-box.disabled .esb-displayer,
.easy-select-box:hover.disabled .esb-displayer{
background-position: 0 -36px;
}
.easy-select-box .esb-dropdown{
background: #fff;
border: 1px solid #505055;
display: none;
max-height: 300px;
overflow: auto;
position: absolute;
z-index: 999;
width: 200px;
}
.easy-select-box .esb-item{
padding:1px 3px 1px 3px;
background:#fff;
color:#505055;
cursor:default;
line-height:1.1;
}
.easy-select-box .esb-item:hover{
background:#1eb2eb;
color:#FFFFFF;
text-decoration:none;
}

/* ========== detail button tips for search result ========== */
/*#idResultList_dtlSearchResult .icon001, #idResultList_dtlSearchResult .icon002, #idResultList_dtlSearchResult .icon003,
#idResultListMotion_dtlSearchResult .icon001, #idResultListMotion_dtlSearchResult .icon002, #idResultListMotion_dtlSearchResult .icon003,
#idResultList3DModel_dtlSearchResult .icon001, #idResultList3DModel_dtlSearchResult .icon002, #idResultList3DModel_dtlSearchResult .icon003{
position:relative;
display:inline-block;
}*/
#idResultList_dtlSearchResult td, #idResultListMotion_dtlSearchResult td, #idResultList3DModel_dtlSearchResult td{
position:relative;
}
.tipcontent{
	display:block;
	padding:5px;
	position:absolute;
	left:50%;
	background:#1eb2eb;
	color:#FFF;
	font-size:75%;
	text-align:center;
	z-index:100;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior:url(/css/home/PIE.htc);
}

.tipcontent:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(30, 178, 235, 0);
	border-bottom-color: #1eb2eb;
	border-width: 5px;
	margin-left: -5px;
}

.tipcontent.ic002{
background:#c9c9c9;
}

.tipcontent.ic002:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(201, 201, 201, 0);
	border-bottom-color: #c9c9c9;
	border-width: 5px;
	margin-left: -5px;
}

/* ========== if no hit on photo ========== */

#error-area.photo-nopic{
padding:20px 50px 50px 50px;
color:#505055;
min-width:740px;
}

#error-area.photo-nopic a:hover{
color:#66d0f5;
}

#error-area.photo-nopic p, #error-area.photo-nopic ul, #error-area.photo-nopic li{
font-size:100%;
line-height:1.6;
}

#error-area.photo-nopic p{
font-size:88%;
}

#error-area.photo-nopic aside.edi{
border-top:dotted 1px #b0b0b3;
border-bottom:dotted 1px #b0b0b3;
margin:10px 0 10px 0;
padding:10px 0 10px 0;
}

#error-area.photo-nopic aside.edi:after{
content: "";
clear: both;
display: block;
}

#error-area.photo-nopic aside.edi p{
float:left;
padding:5px 10px 5px 0;
}

#error-area.photo-nopic aside.edi a{
float:left;
}

#error-area.photo-nopic nav.search-guide{
padding:10px 0 10px 0;
text-align:center;
}

#error-area.photo-nopic nav.search-guide li{
display:inline;
margin:0 46px 0 0;
}

#error-area.photo-nopic section{
margin-top:30px;
}

#error-area.photo-nopic section dl:after{
content: "";
clear: both;
display: block;
}

#error-area.photo-nopic section dt{
width:58px;
float:left;
}

#error-area.photo-nopic section dd{
margin-left:58px;
font-size:88%;
padding-bottom:35px;
margin-bottom:25px;
border-bottom:dotted 1px #b0b0b3;
}

#error-area.photo-nopic #search-category .arrow01{
display:inline-block;
margin:10px 10px 0 0;
}

#error-area.photo-nopic #researcher ul{
padding-bottom:20px;
margin-bottom:20px;
}

#error-area.photo-nopic #researcher li{
font-size:88%;
min-height:53px;
position:relative;
}

#error-area.photo-nopic #researcher li.research{
margin:20px 0 0 0;
padding:10px 0 10px 0;
background:#f2f2f2;
text-align:center;
}

#error-area.photo-nopic #researcher li.research span.text{
background:url(../img/notfound/icon-free.png) no-repeat 0 0;
margin:0 auto 0 auto;
padding:0 0 0 60px;
display:inline-block;
min-height:53px;
}

#error-area.photo-nopic #researcher li.research span span{
font-size:160%;
display:inline-block;
padding-top:0.3em;
padding-right:10px;
}

#error-area.photo-nopic #researcher li.research a.arrow01{
display:inline-block;
margin-top:-0.2em;
line-height:1.6;
}

#error-area.photo-nopic #researcher li.satsuei{
background:url(../img/notfound/icon-more.png) no-repeat 10px center #f2f2f2;
padding:10px 0 10px 70px;
margin:40px 0 0 0;
}

#error-area.photo-nopic #researcher li.satsuei span{
display:block;
margin-bottom:10px;
}

#error-area.photo-nopic #researcher li.satsuei a.arrow01{
display:inline-block;
}

#error-area.photo-nopic #researcher .img-research{
margin:20px 0 40px 0;
text-align:center;
position:relative;
border-bottom:#595959 1px solid;
}

#error-area.photo-nopic #researcher .img-research .line{
position:absolute;
bottom:-19px;
left:50%;
margin-left:-381px;
}

#error-area.photo-nopic section dd img{
margin-top:20px;
}

#error-area.photo-nopic section dd:last-child{
padding-bottom:0;
margin-bottom:0;
border-bottom:none;
}

#error-area.photo-nopic h2{
background:#808080;
color:#FFF;
font-weight:bold;
font-size:88%;
padding:5px 0 5px 10px;
margin-bottom:25px;
}

#error-area.photo-nopic #inquiry p span{
float:left;
display:inline-block;
}

#error-area.photo-nopic #inquiry p:after{
content: "";
clear: both;
display: block;
}

#error-area.photo-nopic #inquiry .freedial{
background:url(../img/notfound/icon-freedial-l.gif) no-repeat left center;
padding:0 20px 0 50px;
line-height:1.1;
font-size:263%;
font-weight:bold;
}

#error-area.photo-nopic span a{
background:none;
padding-left:0;
display:inline;
line-height:1.4;
margin:0;
color:#00b1ee;
font-weight:bold;
text-decoration:none;
}

#error-area.photo-nopic span a:hover{
color:#66d0f5;
}

#error-area.photo-nopic a.arrow01{
background: url(../img/common/btn-arrow01.png) left center no-repeat #00b1ee;
padding: 5px 10px 5px 25px;
font-size:88%;
color:#FFF;
}

#error-area.photo-nopic a.arrow01:hover{
background:url(../img/common/btn-arrow01.png) left center no-repeat #66d0f5;
color:#FFF;
}

#error-area.photo-nopic a.arrow02{
background: url(../img/common/btn-arrow04.png) no-repeat 10px 7px #d9d9d9;
padding: 10px 10px 10px 35px;
font-size:88%;
color:#505055;
}

#error-area.photo-nopic a.arrow02:hover{
background: url(../img/common/btn-arrow04.png) no-repeat 10px 7px #e8e8e8;
color:#505055;
}
/*=========New style pager==========*/
#title-result .title-result-num{
float:none !important;
display:block;
}

#font #title-result{
border:none;
}

.page-area-header{
float:left;
margin:7px 0 0 0;
}

.page-list-number .shortcut{
position:absolute;
font-size:86%;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-box-shadow: 0 0 3px 0 #999;
-moz-box-shadow: 0 0 3px 0 #999;
box-shadow: 0 0 3px 0 #999;
top:28px;
border:none;
display:inline-block;
behavior:url(/css/home/PIE.htc);
white-space:nowrap;
z-index:1000;
}

.page-list-number span.shortcut{
background:#1eb2eb;
color:#FFF;
padding:3px 8px 3px 8px;
}

.page-area-footer{
width:100%;
}

.page-list-number{
float:left;
margin-right:15px;
position: relative;
}

.page-list-number ul{
font-size:0;
}

.page-list-number li{
display:inline-block;
font-size:12px;
letter-spacing:normal;
vertical-align:middle;
margin-right:1px;
}

.page-list-number ul li a{
font-weight:normal;
display:block;
padding:5px 8px;
color:#505055;
line-height:1;
}

.page-list-number ul li a.continue{
background:#f2f2f2;
color:#b0b0b3;
}

.page-list-number ul li a:hover{
background:#505055;
color:#fff;
}

.page-list-number ul li span{
line-height:1;
display:block;
padding:5px 8px;
}

.page-list-number ul li .current{
background:#1eb2eb;
color:#fff;
padding:5px 8px;
margin:0;
}

.page-box{
margin:0 auto;
padding-top:5px;
position:relative;
text-align:center;
}

.wrap{
margin:0 auto;
position:relative;
text-align:center;
display:table;
}

.page-input{
float:left;
font-size:12px;
margin-top:0;
color:#505055;
}

.page-input input{
border:none;
border:1px solid #b0b0b3;
padding:3px;
text-align:right;
width:3.3em;
margin:0 7px 0 3px;
}

.page-input:before{
content:"[";
}

.page-input:after{
content:"]";
}

.page-input a,
.page-input a:hover{
margin:0 3px 0 1px;
color:#505055;
font-weight:normal;
cursor:none;
}

.page-btn-nextback{
margin:0 27px;
min-height:43px;
text-align:center;
position:relative;
}

.page-back,
.page-next{
display:block;
position:absolute;
top:-14px;
padding:15px 0;
border:1px solid #b0b0b3;
font-size:12px;
}

.page-back span,
.page-next span{
display:block;
width:64px;
margin:0 auto;
padding:5px 0;
}

.page-back:hover,
.page-next:hover{
background:#505055;
border:1px solid #505055;
}

.page-back{
left:0;
z-index:999;
}

.page-back span{
background:url(../img/common/pager-arrow-bk.png) no-repeat 0 50%;
padding-left:14px;
}

.page-back:hover span{
background:#505055 url(../img/common/pager-arrow-bk-h.png) no-repeat 0 50%;
color:#fff;
}

.page-next{
right:0;
z-index:999;
}

.page-next span{
background:url("../img/common/pager-arrow-nx.png") no-repeat 100% 50%;
padding-right:14px;
}

.page-next:hover span{
background:#505055 url("../img/common/pager-arrow-nx-h.png") no-repeat 100% 50%;
color:#fff;
}

/* フォントページ用指定 */

#font .page-btn-nextback, #music .page-btn-nextback{
margin:0;
}

#font .page-back,
#font .page-next{
width:120px;
}

#title-result .title-result-sortarea{
background:transparent;
}

/* 表示切り替え色変更 */

#title-result .title-result-sortarea span,
#title-result .title-result-sortarea a{
border:1px solid #ccc;
margin-left:5px;
}

#title-result .title-result-sortarea span{
border-color:#00b1ee;
padding:4px 8px;
}

#title-result .title-result-sortarea a{
border-color:#f2f2f2;
}
/*=========New style pager==========*/

.pager-fyi{
margin:80px auto 0;
}

.pager-fyi a{
width:980px;
display:block;
margin:0 auto;
}

.pager-fyi img{
margin:0 auto;
display:block;
}

.pager-fyi a:hover img{
filter:alpha(opacity=60);
-moz-opacity:0.6;
opacity:0.6;
}

